*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Nava bar Stat */
nav {
    height: 100px;
    width: 100%;
    position: fixed;
    top: 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1px 20px 1px 20px;
    background-color:aliceblue;
    box-shadow: var(--box);
    z-index: 999;
}

/* Nav barresposi proberty */
nav #check{
    display:none ;
}

nav .checkI{
    display: none;
    font-size: 50px;
}

/* nav hover icon and lastbutton collaburation div */

.navitag{
    display: flex;
    align-items: center;
    gap: 30px;
}

/*Nav bar buttons*/

nav button{
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/* nav bar center button */

.submenu{
    width: 50%;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

    
/* nab bar center selecter button */

.submenu button{
    padding: 10px;
    display: inline-block;
    border: unset;
    background-color: transparent;
    cursor: pointer;
}

/* center hover button tag  class*/

.home,.services,.page{
    position: relative;
}

/* anger tag class */

.homeanger,.servicesanger,.pageanger{
    display: none;
    position: absolute;
    background-color:aliceblue;
    padding-left: 10px;
    cursor: pointer;
    box-shadow: var(--box);
    z-index: 1; 
    min-height: 100px;
    min-height: 100px;
   
}

/* anger tag style */

.home a,.services a,.page a{
    color: var(--colorg);
    display: block;
    font-family: "Font Awesome 5 Free";
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 16px 1px;
    font-size: 20px;
    width: 150px;
    text-decoration: none;
    transition: all 1s;
    text-decoration: none;
}

/* Servicetag hover*/

.services:hover .servicesanger{
    display: block;
}

.services:hover .servicesi{
    transform: rotate(-180deg);
}

/* page tag hover */

.page:hover .pageanger{
    display: block;
}

.page:hover .pagei{
    transform: rotate(-180deg);
}


.homeanger a:hover{
    color:black;
    padding-left: 5px;
    background-color:var(--colorg);
}

.servicesanger a:hover{
    color:black;
    padding-left: 5px;
    background-color:var(--colorg);
}

.pageanger a:hover{
    color:black;
    padding-left: 5px;
    background-color: var(--colorg);
}


.about{
    cursor: pointer;
    color: black;
    text-decoration: none;
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/* nav last button tag style */
.navlastbutton{
    width: 140px;
    padding: 15px 10px 15px 10px;
    background-color: lightgreen;
    border-radius: 10px;
    border: unset;
    text-align: center;
    font-size: 18px;
    transition: all 1s;
    cursor: pointer;
}

.navlastbutton:hover{
    margin-bottom: 10px;
    color: var(--colorg);
}

 nav .submenu button span{
    position: relative;
    top: 5px;
    left: 10px;
}

nav .submenu button span i{
    position: absolute;
}

/* input method */
 #s,#p{
    display: none;
}

 button .x{
    display: none;
}


/* Navbar resposive Stat */
@media screen and (max-width:900px){
    .submenu{
        position: absolute;
        top: 100px;
        flex-direction: column;
        min-height: 260px;
        background-color: white;
        width: 100%;
        left: -100%;
        justify-content: space-between;
        transition: all 1s;
        align-items: start;
    }
    .home button,.services  button,.page button{
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

    .home,.services,.page{
        width: 100%;
    }


    .about{
        padding-left: 10px;
        width: 100%;
    }


    .servicesanger,.homeanger,.pageanger{
        position: unset;

    }
    

    nav input:checked~.submenu{
        left: 0;
    }

    nav .checkI{
        display:inline-block;
    }

    /* ethu yan nna hover alreaty pottorukkuratha
     un check pannitto thirumpa checkbox vaikkirathu*/

    .home:hover .homeanger{
        display: none;
    }

    .home #h:checked ~ .homeanger{
        display: block;
    }

    .home:hover .homei{
        transform: unset;
    }

    /* service button */

    .services:hover .servicesanger{
        display: none;
    }

    .services #s:checked ~ .servicesanger{
        display: block;
    }

    .services:hover .servicesi{
        transform: unset;
    }

    /* page button */

    .page:hover .pageanger{
        display: none;
    }

    .page #p:checked ~ .pageanger{
        display: block;
    }

    .page:hover .pagei{
        transform:unset;
    }






}

@media screen and (max-width:600px) {
        nav .navitag button{
            display: none;
        }

        nav .navitag i{
            font-size: 40px;
        }
    
}

@media screen and (min-width:320px) and (max-width:420px){
    .navlastbutton{
        display:none;
    }
} 



/* Nav bar over  */


.service-d-bg{
    height: 60vh;
    width: 100vw;
}
.service-d-bg img{
    width: 100%;
    height: 100%;
    position: relative;
    filter: brightness(40%);
}
.bg-content{
    color: white;
    position: absolute;
    top: 145px;
    left: 15%;
    line-height: 38px;

}
.bg-content h1{
    font-size: xx-large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.bg-content span{
    color: gray;
}
.service-modules{
    display: flex;
    gap: 30px;
    justify-content: space-between;
    padding:90px 50px;
    width: 100%;
}
.left-module{
    display: flex;
    justify-content:flex-start;
    align-items:flex-start;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 40px;
}
.search-bar{
    width: 100%;
    border-radius: 7px;
}
.input{
    margin-top: 20px;
    position: relative;
}
#search{
    width: 100%;
    padding: 18px 15px;
    border-radius: 10px;
    background-color: rgb(245, 245, 245);
    border: 2px solid rgb(201, 196, 196);
}
#search::placeholder{
    font-size: larger;
}
.s-icon{
    position: relative;
    top: -48px;
    left: 80%;
    font-size: larger;
    color: white;
    background-color: rgb(157, 243, 136);
    padding: 10px;
    border-radius: 50%;
}
.categories{
    width: 100%;
    line-height: 31px;
    padding: 20px 25px;
    border-radius: 7px;
}
.categories h2{
    margin-bottom: 10px;
}
.categories hr{
    border: 1px solid gray;
    margin-bottom: 10px;
}
.categories p{
    font-size: large;
    color: grey;
    line-height: 35px;
    transition: all 0.2s;
}

.categories a{
    text-decoration: none;

}
.categories p:hover{
    color: rgb(132, 231, 107);
    transform: scale(1.06,1.06);
}
.social-links{
    width: 100%;
    padding: 20px 25px;
    border-radius: 7px;
}
.about{
    text-decoration: none;
    color: black;
}
.social-link-icon-holder{
    margin-top: 12px;
    display: flex;
    gap: 25px;
}
.social-link-icon-holder i{
    font-size: 26px;
    background-color: white;
    color: black;
    padding: 10px;
    border-radius: 50%;
    border: 2.7px solid grey;
    transition: all 0.32s;
}
.social-link-icon-holder i:hover{
    color: rgb(132, 231, 107);
    border: 2px solid rgb(132, 231, 107);
}
.social-links h2{
    margin-bottom: 19px;
}
.social-links hr{
    border: 1px solid gray;
    margin-bottom: 17px;
}
.right-modules{
    width: 100%;
    padding: 20px 25px;
    border-radius: 7px;
    min-height: 140px;
}
.content {
    width: 100%;
    padding: 10px;
    margin-top: 25px ;
}
.content img{
    height: 270px;
    width: 100%;
    border-radius: 16px;
}
.smart-trading{
    padding: 23px;
    line-height: 24px;
}
.smart-trading h2{
    margin-bottom: 25px;
    font-size: 30px;
}
.smart-trading p{
    color: grey;
    font-size: 19px;
}
.qna{
    padding: 10px;
    margin-top: 20px;
}
.qus{
    width: 100%;
    padding: 17px;
    line-height: 20px;
    text-align: left;
    border-color: transparent;
    border-bottom:2px solid grey ;
    background-color: white;
}
.qus p{
    margin-top: 40px;
    font-size: 16px;
    display: none;
}
.qus:hover{
    transition: all 1s;
}
.qus:hover p{
    display: block;
}
.qus:hover h2{
    color:  rgb(132, 231, 107);
}
.flex-b{
    display: flex;
    justify-content: space-between;
}
.flex-b i{
    font-size: 18px;
}
.qus:hover .flex-b i{
    transform: rotate(360deg);
    color:  rgb(132, 231, 107);
}
.experts-img-container{
    padding: 18px;
    margin-top: 36px;
}
.img-holder{
    display: flex;
    justify-content: space-between;
    gap: 19px;

}
.img{
    height: 400px;
    margin-top: 15px;
    width: 100%;
    overflow:hidden;
    position: relative;

}
.img img{
    height: 100%;
    width: 100%;
    text-align: center;
    object-fit: cover;
    transition: all 0.4s;
}
.exp-details{
    position: absolute;
    top: 75%;
    text-align: center;
    background-color: whitesmoke;
    width: 90%;
    left: 6%;
    border-radius: 18px;
    padding: 20px;
    line-height: 25px;
    opacity: 0.8;
}
.img:hover img{
    height: 410px;
    transform: scale3d(1.02, 1.02, 1.02);
}
.img:hover .exp-details h3{
    color: rgb(132, 231, 107);
}
.footer{
    min-height: 400px;
    border: 1px solid black;
    background-color: #000;
    padding: 10px;
    position: relative;
    overflow: hidden;
}
.footer-content{
    min-height: 300px;
    display: flex;
    gap: 50px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
}
.bitrader{
    width: 400px;
    padding: 15px;
}
.bitrader p{
    color: white;
    padding: 10px 0;
    line-height: 1.8rem;
    font-size: 1.2rem;
}
.bitrader p:hover{
    color: white;
}
.downlode-img{
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}
.downlode-img img:first-child{
    width: 140px;
    height: 50px;
}
.downlode-img img:last-child{
    width: 140px;
    height: 50px;
}
.footer-conditions{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.quick-link{
    width: 250px;
    padding: 15px;
    color: white;
    text-align: left;
    
}
.quick-link h1{
    padding: 10px 0 20px;

}
.quick-link p{
    line-height: 2rem;
    font-size: 1.2rem;
}
.quick-link>p:hover{
    color: #00d084;
    cursor: var(--cursor);
}
.copy-rights{
    margin: auto;
    border-top: 1px solid white;
    width: 90%;
    padding: 10px 0 ;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 40px;
}
.copy-rights p{
    color: white;
}
.social-media{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
}
.social-media a{
    height: 50px;
    width: 50px;
    padding: 10px;
    border-radius: 50%;
    color: white;
    border: 1px solid white ;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
}
.social-media a:hover{
    color: #00d084;
    cursor: var(--cursor);
    border:2px solid #00d084;
}
.pricing-wave{
    width: 80px;
    height: 40px;
    position: absolute;
    left: 30%;
    top: 10%;
    animation-name: img-animate1;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    transition: 2s all ;
}
@keyframes img-animate1{
    0%{
        left: 30%;
    }
    50%{
        left: 33%;
    }
    100%{
        left: 30%;
    }
}
@media screen and (min-width:300px) and ( max-width:500px){
    .detials-providing{
        grid-template-columns: repeat(auto-fill,minmax(280px,1fr));
    }
   
    .Subscribe-box {
        width: 280px;
        padding: 0;
    }
    .input-box input{
        width: 280px;
    }
    .shape1{
        display: none;
    }
    .shape2{
        display: none;
    }
    .bitrader{
        width: 300px;
    }
   
    
}
@media screen and (min-width:300px) and (max-width:900px) {
    .pricing-wave{
        display: none;
    }
    
}



@media screen and (min-width:320px) and (max-width:960px)
{
    .service-modules{
        flex-direction: column-reverse;
        padding: 9px;
    }
    .bg-content{
        line-height: normal;
    }
    .img-holder{
        flex-direction: column;
        align-items: center;
    }
    .img{
        width: 70%;
    }
    .search-bar{
        width: 80%;
        margin: auto;
    }
    .service-modules{
        padding: 0;
    }
}

@media screen and (min-width:340px) and (max-width:500px){
    .s-icon{
        left: 85%;
    }
    .img img{
        height: 100%;
        width: 300px;
        object-fit: cover;
    }
    .exp-details{
        top: 75;
        left: 5%;
    }
}

@media screen and (min-width:500px) and (max-width:960px){
    .s-icon{
        left: 90%;
    }
    .img img{
        height: 100%;
        object-fit: cover;
    }
    .exp-details{
        width: 90%;
        top: 75;
        left: 5%;
    }
}

