*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.container{
    width: 100%;
    min-height:100vh;
}

nav{
    height: 100px;
    width: 100%;
    position: relative;
    background-color: aqua;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1px 20px 1px 20px;
}

.centernav{
    display: flex;
    justify-content: space-between;
    width: 45%;
    position: relative;
    cursor: pointer;
    z-index: 80;
}

.centernav .homelink,.servicelink,.pagelink{
    width: 150px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    /* align-items: center; */
    justify-content: center;
    padding-left: 15px;
    box-shadow: 2px 2px 5px lightgray;
    position: absolute;
    left: -50px;
    font-size: 20px;
    top:60px;
    background-color:aqua;
    /* display: none; */
    opacity: 0;
    transition: all 1s;
    z-index: 10;
}

        /* Home button */
.home input:checked~.homelink{
    display: flex;
    top: 35px;
    opacity: 5;
    z-index: 8;
}

.home i:hover{
    transform: rotate(-90deg);
    transition: all 1s;
}

.centernav i:hover{
    transform: rotate(-90deg);
    transition: all 1s;
}


.services .servicelink{
    left: 90px;
}

.services input:checked~.servicelink{
    display: flex;
    top: 35px;
    opacity: 5;
    z-index: 8;
}

.page .pagelink{
    left:330px;
} 

.page input:checked~.pagelink{
    display: flex;
    top: 35px;
    opacity: 5;
    z-index: 8;
    
}

.centernav input{
    display: none;
}
.buttontag {
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.buttontag button{
    width: 80%;
    padding: 15px;
    border-radius: 10px;
    border: unset;
    background-color: rgb(113, 206, 126);
}

.buttontag label i{
    color: red;
    font-size: 32px;
}

#centercheck{
    display: none;
}


/* nav par responsive */

@media screen and (max-width:1050px) {
    .centernav{
        width: 50%;
    }
}

@media screen and (max-width:900px) {
    .centernav{
        position: absolute;
        top: 96px;
        background-color: red;
        flex-direction: column;
        width: 100%;
        left: -100%;
        text-align: center;
        transition: all 1s;
    }

    nav #centercheck:checked~.centernav{
        left: 0px;
    }

}
 

  /* Nav bar over  */

  /* Section bar Stat */

  section{
    display: flex;
    min-height: 100vh;
}

  .lefsection{
    width: 40%;
    background-color: lightcoral;
    height: 100vh;
    padding: 100px 1px 1px 50px;
  }

  .lefsection h1{
    padding: 20px 1px 20px 1px;
    font-size: 60px;
    line-height: 50px;
  }

  .lefsection p{
    padding: 5px 1px 20px 1px;
  }

  .lefsection button{
    width: 40%;
    padding: 20px;
    border-radius: 10px;
    background-color: lightgreen;
    border: unset;
  }

  .leftbuttontag :nth-child(2){
    margin-left:25px;
    background-color:white;
  }

.centersection{
    height: 100vh;
    background-color: rgba(0, 208, 148, 0.32);;
    display: flex;
    align-items: end;
}

.centersection img{
    height: 300px;
    width:300px;
}

/* leftsection animation */

.lefsection img{
    animation-name: lefimg;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes lefimg {
    from{
        padding-left:0px;
        animation-duration: 2s;
    }
    to{
        padding-left:50px;
        animation-duration: 2s;
    }
}


/* center section animation */

.centersection img{
    animation-name: center;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;

}

@keyframes center {
    from{
        margin-bottom: 10px;
    }
    to{
        margin-bottom: 100px;
    }
}
    




.rightsection{
    background-color: gray;
    width: 40%;
    display: grid;
    justify-content: center;
    padding-top: 100px;
    gap: 10px;
}

.rightsection h1{
    font-size: 30px;
}

.right1,.right2,.right3{
    background-color: lightcoral;
    height: 100px;
    width: 180px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 10px;
    position: relative;
}


.right1 span , .right2 span , .right3 span{
    top: 22px;
    font-size: 30px;
    font-weight: bold;
    position: absolute;
    animation-name: right;
    display: inline-block;
    animation-duration: 3.6s;
    animation-timing-function: linear;
    animation-iteration-count:1;
}


/* rightsection box 1st animation*/

.right1 :nth-child(1){
    animation-delay: 0.1; 
    opacity:0;  
}

.right1 :nth-child(2){
    animation-delay: 0.4s;
    opacity: 0;
}

.right1 :nth-child(3){
    animation-delay: 0.8s;
    opacity: 0;   
}

.right1 :nth-child(4){
    animation-delay: 1.2s;
    opacity: 0;
}

.right1 :nth-child(5){
    animation-delay: 1.6s;
    opacity: 0;   
}

.right1 :nth-child(6){
    animation-delay: 2.0s;
    opacity: 0;
}

.right1 :nth-child(7){
    animation-delay: 2.4s;
    opacity: 0;   
}

.right1 :nth-child(8){
    animation-delay: 2.8s;
    opacity: 0;
}

.right1 :nth-child(9){
    animation-delay: 3.2s;
    opacity: 0;   
}

.right1 :nth-child(10){
    animation-delay: 3.6s;
    opacity: 0;
}

/* rightsection box 1 animation keyframs*/

@keyframes right {
    from{
        background-color:red;
        opacity: 5;
    }

    to{
        background-color: red;
        opacity: 0;
    }
    
}

/* rightsection box 1animation backward key uses */

.right1 :nth-child(10){
    animation-name: lastnumber;
    animation-delay: 3.8s;
    animation-duration: 0.2s;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
     
}

@keyframes lastnumber {
    from{
        background-color: red;
        opacity: 0;
    }
    to{
        background-color: red;
        opacity: 5;
    }
}
/* -------------------------------------------------------------- */

/* 10years right box close */

/* 24/7 right box stat */

/* .right2{
    position: relative;
} */
/* .right2 span{
    font-weight:bold;
    display: inline-block;
    font-size:30px;
    animation-name: right2;
    position: absolute;
    animation-duration: 4s;
    animation-timing-function: linear;
    top: 13px;
   
} */

.right2 span{
    top: 13px;
}

.right2 p{
    padding-top:18px ;
}

.right2 :nth-child(1){
    animation-delay: 0.2s;
    opacity: 0;
}

.right2 :nth-child(2){
    animation-delay: 0.4s;
    opacity: 0;
}

.right2 :nth-child(3){
    animation-delay: 0.6s;
    opacity: 0;
}

.right2 :nth-child(4){
    animation-delay: 0.8s;
    opacity: 0;
}

.right2 :nth-child(5){
    animation-delay: 1s;
    opacity: 0;
}

.right2 :nth-child(6){
    animation-delay: 1.2s;
    opacity: 0;
}

.right2 :nth-child(7){
    animation-delay: 1.4s;
    opacity: 0;
}

.right2 :nth-child(8){
    animation-delay: 1.6s;
    opacity: 0;
}

.right2 :nth-child(9){
    animation-delay: 1.8s;
    opacity: 0;
}

.right2 :nth-child(10){
    animation-delay: 2s;
    opacity: 0;
}

.right2 :nth-child(11){
    animation-delay: 2.2s;
    opacity: 0;
}

.right2 :nth-child(12){
    animation-delay: 2.4s;
    opacity: 0;
}

.right2 :nth-child(13){
    animation-delay: 2.6s;
    opacity: 0;
}

.right2 :nth-child(14){
    animation-delay: 2.8s;
    opacity: 0;
}

.right2 :nth-child(15){
    animation-delay: 3s;
    opacity: 0;
}

.right2 :nth-child(16){
    animation-delay: 3.2s;
    opacity: 0;
}

.right2 :nth-child(17){
    animation-delay: 3.4s;
    opacity: 0;
}

.right2 :nth-child(18){
    animation-delay: 3.6s;
    opacity: 0;
}

.right2 :nth-child(19){
    animation-delay: 3.8s;
    opacity: 0;
}

.right2 :nth-child(20){
    animation-delay: 4s;
    opacity: 0;
}

.right2 :nth-child(21){
    animation-delay: 4.2s;
    opacity: 0;
}

.right2 :nth-child(22){
    animation-delay: 4.4s;
    opacity: 0;
}

.right2 :nth-child(23){
    animation-delay: 4.6s;
    opacity: 0;
}

.right2 :nth-child(24){
    animation-delay: 4.8s;
    opacity: 0;
}

@keyframes right2{
    from{
        background-color: red;
        opacity: 5;
    }
    to{
        background-color: red;
        opacity: 0;
    }
}


.right2 :nth-child(24){
    animation-name: lastright2;
    animation-duration: 0.2s;
    animation-delay: 5s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
} 

@keyframes lastright2 {
    from{
        background-color:red;
        opacity: 0;
    }
    to{
        background-color: red;
        opacity: 1;
    }
}



/* right 3 animation stat */

/* .right3{
    position: relative;
} */

/* .right3 span{
    font-size: 30px;
    font-weight: bold;
    position: absolute;
    display: inline-block;
    top: 23px;
    animation-name: right3;
    animation-duration: 4s;
    animation-timing-function: linear;
} */

.right3 span{
    top: 23px;

}

.right3 :nth-child(1){
    animation-delay: 0.2s;
    opacity: 0;
}

.right3 :nth-child(2){
    animation-delay: 0.4s;
    opacity: 0;
}

.right3 :nth-child(3){
    animation-delay: 0.6s;
    opacity: 0;
}

.right3 :nth-child(4){
    animation-delay: 0.8s;
    opacity: 0;
}

.right3 :nth-child(5){
    animation-delay: 1s;
    opacity: 0;
}

.right3 :nth-child(6){
    animation-delay: 1.2s;
    opacity: 0;
}

.right3 :nth-child(7){
    animation-delay: 1.4s;
    opacity: 0;
}

.right3 :nth-child(8){
    animation-delay: 1.6s;
    opacity: 0;
}

.right3 :nth-child(9){
    animation-delay: 1.2s;
    opacity: 0;
}

.right3 :nth-child(10){
    animation-delay: 1.4s;
    opacity: 0;
}

.right3 :nth-child(11){
    animation-delay: 1.6s;
    opacity: 0;
}

.right3 :nth-child(12){
    animation-delay: 1.8s;
    opacity: 0;
}

.right3 :nth-child(13){
    animation-delay: 2s;
    opacity: 0;
}

.right3 :nth-child(14){
    animation-delay: 2.2s;
    opacity: 0;
}

.right3 :nth-child(15){
    animation-delay: 2.4s;
    opacity: 0;
}

.right3 :nth-child(16){
    animation-delay: 2.6s;
    opacity: 0;
}

.right3 :nth-child(17){
    animation-delay: 2.8s;
    opacity: 0;
}

.right3 :nth-child(18){
    animation-delay: 3s;
    opacity: 0;
}

.right3 :nth-child(19){
    animation-delay: 3.2s;
    opacity: 0;
}

.right3 :nth-child(20){
    animation-delay: 3.4s;
    opacity: 0;
}

.right3 :nth-child(21){
    animation-delay: 3.6s;
    opacity: 0;
}

.right3 :nth-child(22){
    animation-delay: 3.8s;
    opacity: 0;
}

.right3 :nth-child(23){
    animation-delay: 4s;
    opacity: 0;
}

.right3 :nth-child(24){
    animation-delay: 4.2s;
    opacity: 0;
}

.right3 :nth-child(25){
    animation-delay: 4.4s;
    opacity: 0;
}


@keyframes right3 {
    from{
        background-color: red;
        opacity: 5;

    }
    to{
        background-color: red;
        opacity: 0;
    }
}

.right3 :nth-child(25){
    animation-name: lastright3;
    animation-duration: 0.2s;
    animation-delay: 4.6s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
} 

@keyframes lastright3 {
    from{
        background-color:red;
        opacity: 0;
    }
    to{
        background-color: red;
        opacity: 1;
    }
}