*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

nav{
    height: 100px;
    width: 100%;
    position: relative;
    background-color: aqua;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1px 20px 1px 20px;
}

.centernav{
    display: flex;
    justify-content: space-between;
    width: 45%;
    position: relative;
    cursor: pointer;
    z-index: 80;
}

.centernav .homelink,.servicelink,.pagelink{
    width: 150px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    /* align-items: center; */
    justify-content: center;
    padding-left: 15px;
    box-shadow: 2px 2px 5px lightgray;
    position: absolute;
    left: -50px;
    font-size: 20px;
    top:60px;
    background-color:aqua;
    /* display: none; */
    opacity: 0;
    transition: all 1s;
    z-index: 10;
}

        /* Home button */
.home input:checked~.homelink{
    display: flex;
    top: 35px;
    opacity: 5;
    z-index: 8;
}

.home i:hover{
    transform: rotate(-90deg);
    transition: all 1s;
}

.centernav i:hover{
    transform: rotate(-90deg);
    transition: all 1s;
}


.services .servicelink{
    left: 90px;
}

.services input:checked~.servicelink{
    display: flex;
    top: 35px;
    opacity: 5;
    z-index: 8;
}

.page .pagelink{
    left:330px;
} 

.page input:checked~.pagelink{
    display: flex;
    top: 35px;
    opacity: 5;
    z-index: 8;
    
}

.centernav input{
    display: none;
}
.buttontag {
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.buttontag button{
    width: 80%;
    padding: 15px;
    border-radius: 10px;
    border: unset;
    background-color: rgb(113, 206, 126);
}

.buttontag label i{
    color: red;
    font-size: 32px;
}

#centercheck{
    display: none;
}


/* nav par responsive */

@media screen and (max-width:1050px) {
    .centernav{
        width: 50%;
    }
}

@media screen and (max-width:900px) {
    .centernav{
        position: absolute;
        top: 96px;
        background-color: red;
        flex-direction: column;
        width: 100%;
        left: -100%;
        text-align: center;
        transition: all 1s;
    }

    nav #centercheck:checked~.centernav{
        left: 0px;
    }

}

