* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
    background-color: linear-gradient(150.39deg, rgba(237, 242, 248, 0.22) 15.02%, #52eaf0 99.59%);;
}

:root{
    --box: -1px 0 lightgray, 0 1px lightgray, 1px 0 lightgray, 0 -1px lightgray;   
    --colorg:gray;
 
}

.container {
    width: 100%;
    min-height: 100vh;
}
/* Nava bar Stat */
nav {
    height: 100px;
    width: 100%;
    position: fixed;
    top: 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1px 20px 1px 20px;
    background-color:aliceblue;
    box-shadow: var(--box);
    z-index: 999;
}

/* Nav barresposi proberty */
nav #check{
    display:none ;
}

nav .checkI{
    display: none;
    font-size: 50px;
}

/* nav hover icon and lastbutton collaburation div */

.navitag{
    display: flex;
    align-items: center;
    gap: 30px;
}

/*Nav bar buttons*/

nav button{
    font-size: 20px;
}

/* nav bar center button */

.submenu{
    width: 50%;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

    
/* nab bar center selecter button */

.submenu button{
    padding: 10px;
    display: inline-block;
    border: unset;
    background-color: transparent;
    cursor: pointer;
}

/* center hover button tag  class*/

.home,.services,.page{
    position: relative;
}

/* anger tag class */

.homeanger,.servicesanger,.pageanger{
    display: none;
    position: absolute;
    background-color:aliceblue;
    padding-left: 10px;
    cursor: pointer;
    box-shadow: var(--box);
    z-index: 1; 
    min-height: 100px;
    min-height: 100px;
   
}

/* anger tag style */

.home a,.services a,.page a{
    color: var(--colorg);
    display: block;
    margin: 16px 1px;
    font-size: 20px;
    width: 150px;
    text-decoration: none;
    transition: all 1s;
    text-decoration: none;
}

/* Servicetag hover*/

.services:hover .servicesanger{
    display: block;
}

.services:hover .servicesi{
    transform: rotate(-180deg);
}

/* page tag hover */

.page:hover .pageanger{
    display: block;
}

.page:hover .pagei{
    transform: rotate(-180deg);
}


.homeanger a:hover{
    color:black;
    padding-left: 5px;
    background-color:var(--colorg);
}

.servicesanger a:hover{
    color:black;
    padding-left: 5px;
    background-color:var(--colorg);
}

.pageanger a:hover{
    color:black;
    padding-left: 5px;
    background-color: var(--colorg);
}


.about{
    cursor: pointer;
    color: black;
    text-decoration: none;
    font-size: 20px;
}

/* nav last button tag style */
.navlastbutton{
    width: 140px;
    padding: 15px 10px 15px 10px;
    background-color: lightgreen;
    border-radius: 10px;
    border: unset;
    text-align: center;
    font-size: 18px;
    transition: all 1s;
    cursor: pointer;
}

.navlastbutton:hover{
    margin-bottom: 10px;
    color: var(--colorg);
}

 nav .submenu button span{
    position: relative;
    top: 5px;
    left: 10px;
}

nav .submenu button span i{
    position: absolute;
}

/* input method */
 #s,#p{
    display: none;
}

 button .x{
    display: none;
}


/* Navbar resposive Stat */
@media screen and (max-width:900px){
    .submenu{
        position: absolute;
        top: 100px;
        flex-direction: column;
        min-height: 260px;
        background-color: white;
        width: 100%;
        left: -100%;
        justify-content: space-between;
        transition: all 1s;
        align-items: start;
    }
    .home button,.services  button,.page button{
        display: flex;
        justify-content: space-between;
        /* background-color: yellow; */
        width: 100%;
    }

    .home,.services,.page{
        width: 100%;
    }


    .about{
        padding-left: 10px;
        width: 100%;
        /* background-color: yellow; */
    }


    .servicesanger,.homeanger,.pageanger{
        position: unset;
        /* position: absolute; */

    }
    

    nav input:checked~.submenu{
        left: 0;
    }

    nav .checkI{
        display:inline-block;
    }

    /* ethu yan nna hover alreaty pottorukkuratha
     un check pannitto thirumpa checkbox vaikkirathu*/

    .home:hover .homeanger{
        display: none;
    }

    .home #h:checked ~ .homeanger{
        display: block;
    }

    .home:hover .homei{
        transform: unset;
    }

    /* service button */

    .services:hover .servicesanger{
        display: none;
    }

    .services #s:checked ~ .servicesanger{
        display: block;
    }

    .services:hover .servicesi{
        transform: unset;
    }

    /* page button */

    .page:hover .pageanger{
        display: none;
    }

    .page #p:checked ~ .pageanger{
        display: block;
    }

    .page:hover .pagei{
        transform:unset;
    }






}

@media screen and (max-width:600px) {
        nav .navitag button{
            display: none;
        }

        nav .navitag i{
            font-size: 40px;
        }
    
}



/* Nav bar over  */


/* Form tag  Stat*/
form{
    position:fixed;
    top: 25%;
    right: 34%;
    height: 400px;
    width: 30%;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
    z-index: 20;
    background-color:rgb(8, 8, 31);
    outline: none;
    display: none;
}
form label{
    position: absolute;
    top: 16px;
    right: 20px;
    font-size: 20px;
    color: aqua;
    
}
form input{
    padding: 12px 10px 10px 16px;
    color: white;
    border-radius: 20px;
    border: unset;
    width: 90%;
    outline:aqua ;
    border:  1px solid aqua;
    background-color: transparent;
}

.summit-from{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
}

.summit-from input{
    width: 40%;
    padding: 10px;
}

form input:focus{
    box-shadow: 5px 0px 5px gray,0px 5px 5px gray,0px -5px 5px gray,-5px 0px 5px gray;
}

 #fr:checked~form{
    display: flex;
}


/* click it is a login card click button  or fixed button */
.click{
    position: fixed;
    right: 1%;
    top: 120px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    width: 50px;
    z-index: 100;
    background-color: rgb(10, 238, 10);
    box-shadow: 5px 0px 5px green,0px 5px 5px green,0px -5px 5px green,-5px 0px 5px green;
}

.click i{
    font-size: 30px;
}


.lefsection #fr{
    display: none;
}

/* Form tag close */

/* click2 button start */
.click2{
    height: 50px;
    width: 50px; 
    background-color: rgb(10, 238, 10);
    box-shadow: 5px 0px 5px green,0px 5px 5px green,0px -5px 5px green,-5px 0px 5px green; 
    z-index: 100;
    position: fixed;
    top: 90%;
    left: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.click2 i{
    font-size: 30px;
    color: black;
}

/* click button close */



/* Section bar Stat */

section {
    margin-top: 100px;
    display: flex;
    min-height: 100vh;
    width: 100%;
}

.lefsection {
    width: 40%;
    /* background-color: lightcoral; */
    min-height: 100vh;
    padding: 100px 1px 30px 50px;
}

.lefsection h1 {
    padding: 20px 1px 20px 1px;
    font-size: 60px;
    line-height: 50px;
}

.lefsection p {
    padding: 5px 1px 20px 1px;
}
/* roted image */
.lefsection .roted{
    position: absolute;
    left: 30%;
    top: 36%;
    animation-name: roted;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-duration: 6s;
}

@keyframes roted {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
    
}

.leftbuttontag {
    display: flex;
    align-items: center;
    /* background-color: red; */
    height: 80px;
}

.leftbuttontag button {
    width: 40%;
    height: 50px;
    margin-top: 10px;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    background-color: lightgreen;
    border: unset;
    gap: 5px;
    transition: all 1s;
    cursor: pointer;
}

 .lefsection .videobutton a {
    text-decoration:none;
}

.videobutton i {
    font-size: 20px;
}

/* lbi enpathu left button i tag enru artham */
.leftbuttontag .lbi {
    display: none;
}


.leftbuttontag .videobutton {
    margin-left: 25px;
    background-color: white;
    box-shadow: -1px 0 lightgray, 0 1px lightgray, 1px 0 lightgray, 0 -1px lightgray;
}

.leftbuttontag button:hover{
    margin-top: 0px;
}

.centersection {
    min-height: 100vh;
    display: flex;
    align-items: end;
    background: linear-gradient(160deg, rgba(229, 237, 248, 0.00) 0%, rgba(0, 208, 148, 0.32) 100%);

}

.centersection img {
    height: 300px;
    width: 300px;

}


/* leftsection animation */
/* arrow enpathu lefsection la erukkura img */
.lefsection .arrow {
    animation-name: lefimg;
    animation-duration: 6s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes lefimg {
    0%{
        padding-left: 0px;
    }

    25% {
        padding-left: 30px;
    }
    50%{
        padding-left: 60px;
    }

    75%{
        padding-left: 30px;
    }
    100%{
        padding-left: 0px;
    }
}


/* center section animation */

.centersection img {
    animation-name: center;
    animation-duration: 6s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;

}


@keyframes center {
     0%{
        margin-bottom: 0%;
    }

    25%{
        margin-bottom: 10%;
    }
    50%{
        margin-bottom: 20%;
    }
    75%{
        margin-bottom: 10%;
    }
    100%{
        margin-bottom: 0%;
    }
}

.rightsection {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 40px;
    gap: 10px;
}


.right1, .right2, .right3 {
    /* background-color: lightcoral; */
    background-color: whitesmoke;
    height: 100px;
    width: 220px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 10px;
    position: relative;
    box-shadow: -1px 0 lightgray, 0 1px lightgray, 1px 0 lightgray, 0 -1px lightgray;

}

.rightsection span {
    display: inline-block;
}

.anime1::before {
    content: "10";
    animation-name: rightfirst;
    animation-duration: 4s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}

@keyframes rightfirst {
    0% {
        content: "1";
    }

    11% {
        content: "2";
    }

    22% {
        content: "3";
    }

    33% {
        content: "4";
    }

    44% {
        content: "5";
    }

    55% {
        content: "6";
    }

    66% {
        content: "7";
    }

    77% {
        content: "8";
    }

    88% {
        content: "9";
    }

    99% {
        content: "10";
    }

}

.anime2::before {
    content: "24";
    animation-name: right2content;
    animation-duration: 4s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}


@keyframes right2content {
    0% {
        content: "1";
    }

    4% {
        content: "2";
    }

    8% {
        content: "3";
    }

    12% {
        content: "4";
    }

    16% {
        content: "5";
    }

    20% {
        content: "6";
    }

    24% {
        content: "7";
    }

    28% {
        content: "8";
    }

    32% {
        content: "9";
    }

    36% {
        content: "10";
    }

    40% {
        content: "11";
    }

    44% {
        content: "12";
    }

    48% {
        content: "13";
    }

    52% {
        content: "14";
    }

    56% {
        content: "15";
    }

    60% {
        content: "16";
    }

    65% {
        content: "17";
    }

    69% {
        content: "18";
    }

    73% {
        content: "19";
    }

    77% {
        content: "20";
    }

    81% {
        content: "21";
    }

    85% {
        content: "22";
    }

    89% {
        content: "23";
    }

    93% {
        content: "24";
        /* animation-fill-mode: backwards; */
    }



}


.anime3::after {
    content: "25";
    animation-name: right3content;
    animation-duration: 4s;
    animation-timing-function: linear;
}

@keyframes right3content {
    0% {
        content: "1";
    }

    4% {
        content: "2";
    }

    8% {
        content: "3";
    }

    12% {
        content: "4";
    }

    16% {
        content: "5";
    }

    20% {
        content: "6";
    }

    24% {
        content: "7";
    }

    28% {
        content: "8";
    }

    32% {
        content: "9";
    }

    36% {
        content: "10";
    }

    40% {
        content: "11";
    }

    44% {
        content: "12";
    }

    48% {
        content: "13";
    }

    52% {
        content: "14";
    }

    56% {
        content: "15";
    }

    60% {
        content: "16";
    }

    64% {
        content: "17";
    }

    68% {
        content: "18";
    }

    72% {
        content: "19";
    }

    76% {
        content: "20";
    }

    80% {
        content: "21";
    }

    84% {
        content: "22";
    }

    88% {
        content: "23";
    }

    92% {
        content: "24";
    }

    96% {
        content: "25";
    }
}



/* section2 stat */

.section2 {
    min-height: 110vh;
    width: 100%;
    background-color: rgb(34, 29, 29);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

}

.section2hl {
    line-height: 100px;
    text-align: center;
    color: white;
}

.section2hl h1 {
    font-size: 50px;
}

.section2hl p {
    margin: auto;
    width: 80%;
    font-size: 20px;
    line-height: normal;
    color: lightgray;
}





.section2main {
    display: grid;
    gap: 30px;
    align-items: center;
    justify-content: center;
    min-height: 420px;
    width: 100%;
    padding: 5px 20px 40px 20px;
    grid-template-columns: 22% 22% 22% 22%;

}

.section2main .sm1box {
    background-color: white;
    height: 360px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 25px 15px 25px 15px;
    border-radius: 10px;
    transition: all 1s;
    box-shadow: -2px 0 gray, 0 2px gray, 2px 0 gray, 0 -2px gray;
}


.section2main h1 {
    padding: 10px 1px 10px 1px;
}

.section2main p {
    font-size: 18px;
    overflow: hidden;
}

/* click panna mela pora div */
.sm1box:hover {
    margin-bottom: 30px;
    cursor: pointer;

}

/* section2 finish */

/* section3 Stat */

.section3 {
    min-height: 100vh;
    display: flex;
    gap: 80px;
    justify-content: center;
    align-items: center;
    padding: 1px 60px 1px 60px;
}


.section3 .s3right,
.s3left {
    min-height: 80vh;
    width: 50%;
    display: flex;
    justify-content: center;
    gap: 30px;
    /* align-items: center; */
}



.section3 .s3right {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-top: 5%;
}

.s3imganime{
    width: 50%;
}

.s3right  .arrow2 {
    height: 50px;
    width: 100px;
    animation-name: s3img;
    animation-duration: 8s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;

}

@keyframes s3img {
    0%{
        margin-left: 0%;
    }

    25%{
        margin-left:25%
    }
    50%{
        margin-left: 50%;
    }
    75%{
        margin-left: 25%;
    }
    100%{
        margin-left: 0%;
    }
}


.section3 .s3right h1 {
    font-size: 40px;
}

.section3 .s3right p {
    font-size: 22px;
}

.section3 .s3right button {
    width: 160px;
    padding: 18px;
    margin-top: 10px;
    border-radius: 10px;
    border: unset;
    font-size: 18px;
    background-color: rgb(113, 206, 126);
    transition: all 1s;
    cursor: pointer;

}

.lastbutton{
    height: 80px;
}

.s3right button:hover{
    margin-top: 2px;
    color: gray;
}

/* 4th page */
.page4{
    min-height: 80vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px 10px 20px;
    margin-bottom: 20px;
}

.d4L{
    width: 50%;
    padding-left: 20px;
    
}

.d4L button{

}

.d4L h1{
    font-size: 45px;
}

.d4L ul{
    list-style: none;
}

.d4L ul li{
    padding-top: 20px;
    font-size: 25px;
    text-decoration: none;
}

.d4R img{
    width: 100%;
}

.d4L i{
    color: blue;
} 

.d4R{
    display: flex;
    justify-content: center;

}

.d4L button{
    margin-top: 20px;
    width: 200px;
}








/* resposive stat */

@media screen and (max-width:1200px) {
    .lefsection h1 {
        font-size: 50px;
    }
}

@media screen and (max-width:1100px) {

    .lefsection {
        padding-left: 20px;
        padding-right: 20px;
    }

    .lefsection h1 {
        font-size: 45px;
    }

    .leftbuttontag :nth-child(3) {
        display: none;
    }

    form{
        width:calc(30%);
    }

    .leftbuttontag button {
        width: 45%;
    }

    /* section 2 responsive */

    .sm1box h1 {
        font-size: 25px;
        padding: 5px 0px;
    }

    .sm1box p {
        font-size: normal;
    }



    .leftbuttontag .lbi {
        display: inline-block;
        font-size: 40px;
        padding-left: 25px;
        color: aqua;
    }

}

@media screen and (max-width:1000px) {

    .sm1box {
        width: 300px;
    }

    .section2main {
        grid-template-columns: auto auto;
    }

    .page4{
        padding: 0px;
    }

    form{
        width:300px;
        right: 30%;
    }
}

@media screen and (max-width:900px) {
    .lefsection h1 {
        font-size: 35px;
        line-height: 35px;
    }

    .leftbuttontag button {
        width: 65%;
    }

    .page4{
        flex-direction: column-reverse;
        gap: 40px;
        
    }

    .d4L{
        width: 100%;
    }
    .d4L h1{
        font-size:30px ;
    }
    
   


}

@media screen and (max-width:800px) {
    .section3 {
        margin: 10px;
        flex-direction: column;
        padding: 0px 20px;
        gap: 10px;
        margin-top: 60px;

    }

    .section3 .s3right,
    .s3left {
        width: 100%;
    }

    form{
        width:280px;
        right: 28%;
    }

}


@media screen and (max-width:750px) {
    section {
        display: flex;
        flex-direction: column;
    }

   .lefsection .roted{

        position: absolute;
        left: 88%;
        top: 37%;
    }

    .lefsection,
    .centersection,
    .rightsection {
        width: 100%;
    }

    .centersection{
        min-height: 110vh;
       
    }
    
    .centersection img{
        animation-name:centerres;
        animation-duration: 6s;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
    }

    @keyframes centerres{
        0%{
            margin-bottom: 0%;
    }
    25%{
            margin-bottom: 5%;
    }

    50%{
            margin-bottom: 10%;
    }

    75%{
            margin-bottom: 5%;
    }
    100%{
            margin-bottom: 0%;
    }
}

    .lefsection h1 {
        font-size: 60px;
        line-height: 50px;
    }

    .lefsection p {
        font-size: 20px;
    }

    .leftbuttontag button {
        width: 30%;
    }

    .leftbuttontag .lbi {
        display: none;
    }

    .leftbuttontag .videobutton {
        display: flex;
    }

    .centersection {
        display: flex;
        justify-content: center;
    }

    .centersection img {
        height: 95%;
        width: 75%;
    }

    .rightsection {
        padding-top: 50px;
    }

    .right1,
    .right2,
    .right3 {
        width: 80%;
    }

}



@media screen and (max-width:660px) {
    .section2main {
        grid-template-columns: auto;
    }

    .leftbuttontag button {
        width: 150px;
    }


}

@media screen and (max-width:600px){
    form{
        right:26%;
    }
}

@media screen and (max-width:550px){
    form{
        right:24%;
    }
}

@media screen and (max-width:500px) {
    section .centersection img {
        height: 100%;
        width: 100%;
    }

    .section3 .s3left img {
        width: 100%;
        height: 100%;
        margin: 20px;
    }

    .lefsection h1 {
        font-size: 50px;
        line-height: 40px;
    }

    .section2hl {
        line-height: 60px;
        padding: 20px 0px;
    }

    .section2hl h1 {
        font-size: 40px;
    }

    .section2hl p {
        width: 100%;
        padding: 0px 10px;
        font-size: 17px;
    }

    .section3 {
        margin: 10px;
        width: 100%;
        padding: 0px 5px;
    }

    .section3 .s3right h1 {
        font-size: 35px;

    }

    .section3 .s3right p {
        font-size: 20px;
    }

    .d4R{
        justify-content: center;
        align-items: center;
    }

     .d4R img{
        margin: 1px 5% 1px 5%;
        width: 80%;
    }

}

@media screen and (max-width:600px){
    form{
        right:22%;
    }
}

@media screen and (max-width:400px) {
    .leftbuttontag {
        width: 100%;
    }
    

    .lefsection h1 {
        font-size: 40px;
        line-height: 30px;
    }

    .section2hl h1 {
        font-size: 35px;
    }

    .sm1box {
        width: 260px;
    }

    form{
        top: 33%;
        right:16%;
    }

}

@media screen and (max-width:350px) {
    .leftbuttontag {
        width: 100%;
    }

    form{
        right: 11%;
    }

}



/* scroll par edit Start */

    ::-webkit-scrollbar{
        width: 10px;
    }

    ::-webkit-scrollbar-track{
        box-shadow: inset 0 0 5px grey; 

    }

    ::-webkit-scrollbar-thumb{
        background-color: lightgray;
    }

    ::-webkit-scrollbar-thumb:hover {
        background: gray; 
      }

    

/* scroll bar edit finish */
